#secondary-info {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #AEBEC9;
}

.blog-list--item {
    width: 100%;
    margin-top: 1px;
}

.blog-list--item p {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    max-width: 85%;
    color: gray;
}

.blog-list-image {
    max-width: 100%;
}