@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
.header-top {
    display: flex;
    justify-content: center;
}

.header-top-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-bell {
    margin-right: 30px;
    color: gray;
    font-size: 30px;
}

.header-next {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.header-next ul {
    display: flex;
    width: 90%;
}

.header-next li {
    list-style-type: none;
    padding: 20px 35px;
    font-family: 'Poppins', sans-serif;
}

.lilar {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.vse-potoki {
    height: 40px;
    width: 128px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    background-color: #1B5BF7;
    border: none;
    outline: none;
    color: white;
}